# Set default behavior to automatically normalize line endings.
* text=auto

# Explicitly declare text files you want to always be normalized and converted to native line endings on checkout.
*.js text
*.jsx text
*.json text
*.css text
*.md text

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf

# Declare files that will always have CRLF line endings on checkout.
*.bat text eol=crlf

# Binary files should be treated as binary and not modified.
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.pdf binary
